
#clients {
    background-image: url("../images/close-up-dog-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    width: 100%;
 }

 .img-thumbnail:hover {
    transform: translateY(-0.1rem);
 }

 .descr {
    padding: 2rem;
 }

 .modal-title {
   margin: 1rem, auto ;
   text-transform: uppercase;
   color: rgb(117, 81, 40);
   font-weight: 700;
   letter-spacing: .2rem;
   line-height: 3.4rem;
   font-family: 'Salsa', cursive;
   font-size: 2rem;
  
 }

 .close {
    margin-left: 1rem;
 }

 